body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F7F2DD;
    overflow-x: hidden;
    font-family: 'Markazi Text', serif;
}



::-webkit-scrollbar {
    display: none;
}
/* font-family: 'Holtwood One SC', serif;
font-family: 'Markazi Text', serif;
font-family: 'Monoton', cursive; */




/* start of homepage */
    /* start of homepage */
        /* start of homepage */

.square{
    width: 10000px;
    top: 325px;
    height: 75px;;
    background-color: #FB936C;
    position: absolute;
}

.square-2{
  width: 10000px;
  top: 625px;
  height: 75px;;
  background-color: #2B9041;
  position: absolute;
}

.square-3{
  width: 10000px;
  top: 925px;
  height: 75px;;
  background-color: #FB936C;
  position: absolute;
}

.square-4{
width: 10000px;
top: 1225px;
height: 75px;;
background-color: #2B9041;
position: absolute;
}

.square-5{
    width: 10000px;
    top: 1500px;
    height: 75px;;
    background-color: #FB936C;
    position: absolute;
}

.overlay{
    display: none;
}



.product{
    width: 125px;
    margin: 0 100px 0 100px ;
    border-radius: 10px;
    background-repeat: repeat-x;
    
    
}

.container-1{
    margin: 25px 0 25px 0;
    background: chartrese;
    height: 125px;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;

    
    

}

.scroll-1{
    position: relative;
    align-items: center;
    display: flex;
    width: 10000px;
    animation: animateScroll 8s linear infinite;
}

@keyframes animateScroll {
    from {
      left: 0px;
    }
    100% {
      left: -970px;
    }
   
  }

  .container-1:hover .scroll-1{

      background-color: #F7C025;
      transition: 0s;
      cursor: pointer;
  }

  
.container-2{
    background: chartrese;
    margin: 25px 0 25px 0;
    height: 125px;
    width: 100vw;
    
    overflow-x: hidden;
    overflow-y: hidden;
    
    

}

.scroll-2{
    position: relative;
    align-items: center;
    display: flex;
    width: 3000px;
    animation: animateScroll2 8s linear infinite;
}

@keyframes animateScroll2 {
    from {
      left: -970px;
    }
    100% {
      left: 0px;
    }
   
  }

  .container-2:hover .scroll-2{

      background-color: #569C88;
      transition: 0s;
      cursor: pointer;

  }

  @keyframes colorSwap {
    from {
        background-color: #FB936C;
        
    }

    33%{
        background-color: #569C88;
    }

    66%{
        background-color: #F7C025;
    }
    100% {
        background-color: #FB936C;
    }
   
  }

/* end of homepage */
    /* end of homepage */
        /* end of homepage */


/* start of navbar */
    /* start of navbar */
        /* start of navbar */

  header{

      height: 150px;
      width: 100%;
      display: flex;
      flex-wrap: ;
      margin: 0px 0 75px 0;
      
  }


  .navbar-mobile{
    width: 1000px;;
    height: 50px;

    position: absolute;
display: none;
    top: 150px;
}


  .logo{
      width: 250px;
      margin-left: ;
      display: flex;
      justify-content: center;
  }

.logo-container{
    background-color: ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

}

.navbar{


    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

    
    height: 150px;
    left: 0;
    background-color:;
   
    color: ;
}

.link{
    margin: 0 5vw 0 5vw ;
    font-size: 24px;
    font-weight: bold;
    color:;
    text-decoration: none;
    
}

a{
    text-decoration: none;

}

.link:hover{
    color:  #2B9041 ;
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    body {
      background-color: ;
    }

    .navbar{
        display: none;
    }

    .navbar-mobile{
        width: 100%;;
        height: 50px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: ;
        top: 150px;
    }

    .menu{
        color: #0aaf54;
        z-index: 0;
        cursor: pointer;
    }
    
    .overlay{
        width: 100%;
        height: 150%;
        position: absolute;
        background-color: #E86292;
        top: 0;
        z-index: 300;
        display: none;


    }

    .menu-close{
        color: #F7F2DD;
        cursor: pointer;
    }


    .mobile-links{
        margin-top: 25px;
        position: absolute;
        width: 100%;
        height: 700px;
        background-color: ;
        top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: ;
        align-items: center;
        color: antiquewhite;
        font-size: 5vh
    }

    .mobile-link{
        color: #F7F2DD ;
        margin: 2vh;
        font-size: 6vh;
    }

    .social{
        background-color: ;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        height: ;
    }


  }


/* end of navbar */
    /* end of navbar */
        /* end of navbar */


/* start about page */
    /* start about page */
        /* start about page */

  .card-1{

    width: 100vw;
    height: 50vh;
    background-color: #E86292;

    position: absolute;
    z-index: -100;
    text-align: center;
  
 

  }

  .about-cacto{
      margin: 50px;
      font-size: 24px;
      color:#F7F2DD;
      text-align: center;

  }


/* end about page */
    /* end about page */
        /* end about page */




/* start product page */
    /* start product page */
        /* start product page */

.product-page{

    height: calc(100% - 150px);
    width: 100vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    width: 100vw;
    font-family: 'Holtwood One SC', serif;
    color: #569C88 ;


}

.product-large{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    z-index: 300;
}

.product-details{
    width: 100vw;
    padding: 50px;
    position: relative;
    top: -50px;
    background-color: #569C88;
    color: #F7F2DD;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-description{
    width: 300px;
}

.controls{
    width: 300px;
    height: 10px;
    position: relative;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px;
}

.product-button{
    width: 75px;
    height: 75px;
    margin: 12.5px;
    background-color: #569C88;
    color: #F7F2DD;
    border: none;
    border-radius: 10px;
}

.cart{
    width: 300px;
    height: 50px;

}


@media only screen and (min-width: 800px) {
    .product-details{
        background-color: blue;
        position: relative;
        top: -250px;
        height: 200px;
    }
    .product-description{
        position: relative;
        left: 350px;
        top: -50px;
    }


}

/* end product page */
    /* end product page */
        /* end product page */


/* colors */
    /* colors */
        /* colors */

.pink{
    color: #E86292;
}

.yellow{
    color: #F7C025;
}

.blue{
    color: #569C88; 
}

.sand{
    color: #F7F2DD;
}

.green{
    color:  #2B9041 ;
}

.clay{
    color:  #F6926C ;
}

/* colors */
    /* colors */
        /* colors */

/* 
font-family: 'Holtwood One SC', serif;
font-family: 'Markazi Text', serif;
font-family: 'Monoton', cursive; 
*/


/* start location page */
    /* start location page */
        /* start location page */


