body{
    margin: 0;
    padding: 0;

    height: 100vh;
    background-color: #F7F2DD;
}

.product{
    width: 125px;
    margin: 0 50px 0 50px ;
    border-radius: 10px;
    background-repeat: repeat-x;
    
    
}

.container{
    margin: 25px 0 25px 0;
    background: chartrese;
    height: 125px;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;

    
    

}

.scroll{
    position: relative;
    align-items: center;
    display: flex;
    width: 10000px;
    animation: animateScroll 8s linear infinite;
}

@keyframes animateScroll {
    from {
      left: 0px;
    }
    100% {
      left: -900px;
    }
   
  }

  .container:hover .scroll{

      background-color: #F7C025;
      transition: 0s;
      cursor: pointer;
  }

  
.container-2{
    background: chartrese;
    margin: 25px 0 25px 0;
    height: 125px;
    width: 100vw;
    
    overflow-x: hidden;
    overflow-y: hidden;
    
    

}

.scroll-2{
    position: relative;
    align-items: center;
    display: flex;
    width: 3000px;
    animation: animateScroll2 8s linear infinite;
}

@keyframes animateScroll2 {
    from {
      left: -900px;
    }
    100% {
      left: 0px;
    }
   
  }

  .container-2:hover .scroll-2{

      background-color: #569C88;
      transition: 0s;
      cursor: pointer;

  }

  @keyframes colorSwap {
    from {
        background-color: #FB936C;
        
    }

    33%{
        background-color: #569C88;
    }

    66%{
        background-color: #F7C025;
    }
    100% {
        background-color: #FB936C;
    }
   
  }

  header{

      height: 125px;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
            

  }

  .logo{
      width: 250px;
      margin: 50px;
  }

  .square{
      width: 10000px;
      top: 250px;
      height: 75px;;
      background-color: #FB936C;
      position: absolute;
  }

  .square-2{
    width: 10000px;
    top: 550px;
    height: 75px;;
    background-color: #2B9041;
    position: absolute;
}

.square-3{
    width: 10000px;
    top: 850px;
    height: 75px;;
    background-color: #FB936C;
    position: absolute;
}

.square-4{
  width: 10000px;
  top: 1150px;
  height: 75px;;
  background-color: #2B9041;
  position: absolute;
}