body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #F7F2DD;
    overflow-x: hidden;
    font-family: 'Markazi Text', serif;

}



::-webkit-scrollbar {
    display: none;
}
/* font-family: 'Holtwood One SC', serif;
font-family: 'Markazi Text', serif;
font-family: 'Monoton', cursive; */




/* start of homepage */
    /* start of homepage */
        /* start of homepage */

.square{
    width: 10000px;
    top: 325px;
    height: 75px;;
    background-color: #FB936C;
    position: absolute;
}

.square-2{
  width: 10000px;
  top: 625px;
  height: 75px;;
  background-color: #2B9041;
  position: absolute;
}

.square-3{
  width: 10000px;
  top: 925px;
  height: 75px;;
  background-color: #FB936C;
  position: absolute;
}

.square-4{
    width: 10000px;
    top: 1225px;
    height: 75px;
    background-color: #2B9041;
    position: absolute;
}

.square-5{
    width: 10000px;
    top: 1500px;
    height: 75px;;
    background-color: #FB936C;
    position: absolute;
}

.overlay{
    display: none;
}



.product{
    width: 125px;
    margin: 0 100px 0 100px ;
    border-radius: 10px;
    background-repeat: repeat-x;
    
    
}

.container-1{
    margin: 25px 0 25px 0;
    background: chartrese;
    height: 125px;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.scroll-1{
    position: relative;
    align-items: center;
    display: flex;
    width: 10000px;
    animation: animateScroll 10s linear infinite;
}

button{
    transition: 0.2s;

}

button:hover{
    box-shadow: 4px 4px 10px grey;
    transition: 0.2s;
    cursor: pointer;
}

button:focus{
    outline: none;

}

@keyframes animateScroll {
    from {
      left: 0px;
    }
    100% {
      left: -970px;
    }
   
  }

  .container-1:hover .scroll-1{

      background-color: #F7C025;
      transition: 0s;
      cursor: pointer;
  }

  
.container-2{
    background: chartrese;
    margin: 25px 0 25px 0;
    height: 125px;
    width: 100vw;
    
    overflow-x: hidden;
    overflow-y: hidden;
    
    

}

.scroll-2{
    position: relative;
    align-items: center;
    display: flex;
    width: 3000px;
    animation: animateScroll2 10s linear infinite;
}

@keyframes animateScroll2 {
    from {
      left: -970px;
    }
    100% {
      left: 0px;
    }
   
  }

  .container-2:hover .scroll-2{

      background-color: #569C88;
      transition: 0s;
      cursor: pointer;

  }

  @keyframes colorSwap {
    from {
        background-color: #FB936C;
        
    }

    33%{
        background-color: #569C88;
    }

    66%{
        background-color: #F7C025;
    }
    100% {
        background-color: #FB936C;Fover
    }
   
  }

/* end of homepage */
    /* end of homepage */
        /* end of homepage */


/* start of navbar */
    /* start of navbar */
        /* start of navbar */

  header{

      height: 150px;
      width: 100%;
      display: flex;
      flex-wrap: ;
      margin: 0px 0 75px 0;
      z-index: 1000;
      
  }


  .navbar-mobile{
    width: 1000px;;
    height: 50px;

    position: absolute;
display: none;
    top: 150px;
}


  .logo{
      width: 250px;
      margin-left: ;
      display: flex;
      justify-content: center;
      z-index: 1000;
  }

.logo-container{
    background-color: ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;

}

.navbar{


    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

    
    height: 150px;
    left: 0;
    background-color:;
    z-index: 1000;
    color: ;
}

.link{
    margin: 0 5vw 0 5vw ;
    font-size: 24px;
    font-weight: bold;
    color:;
    text-decoration: none;
    
}

a{
    text-decoration: none;

}

.link:hover{
    color:  #2B9041 ;
    cursor: pointer;
}


@media only screen and (max-width: 800px) {
    body {
      background-color: ;
    }

    .navbar{
        display: none;
    }

    .navbar-mobile{
        width: 100%;;
        height: 50px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: ;
        top: 150px;
    }

    .menu{
        color: #E86292;
        z-index: 0;
        cursor: pointer;
    }
    
    .overlay{
        width: 100%;
        height: 150%;
        position: absolute;
        background-color: #E86292;
        top: 0;
        z-index: 1000;
        display: none;


    }

    .menu-close{
        color: #F7F2DD;
        cursor: pointer;
    }


    .mobile-links{
        margin-top: 25px;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: ;
        top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: ;
        align-items: center;
        color: antiquewhite;
        font-size: 5vh
    }

    .mobile-link{
        color: #F7F2DD ;
        margin: 2vh;
        font-size: 6vh;
    }

    .social{
        background-color: ;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        height: ;
    }


  }


/* end of navbar */
    /* end of navbar */
        /* end of navbar */


/* start about page */
    /* start about page */
        /* start about page */

        .about-page{
            width: 100vw;
      
            

        }

  .card-1{

    width: 100vw;
    height: 50vh;
    background-color: #E86292;
    position: absolute;
    z-index: -100;
    text-align: center;
    display: flex;
    justify-content: center;

  }

  .about-cacto{
      margin: 50px;
      font-size: 24px;
      color:#F7F2DD;
      text-align: center;
      width: 400px

  }


/* end about page */
    /* end about page */
        /* end about page */




/* start product page */
    /* start product page */
        /* start product page */

.product-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100vw;


}



.product-large{
    width: 80vw;
  max-width: 300px;
    border-radius: 10px;
    z-index: 300;
}





.controls{
    width: 300px;
    height: 10px;
    position: relative;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px;
}

.product-button{
    width: 75px;
    height: 75px;
    margin: 12.5px;
    background:  #569C88;
 
    color: #F7F2DD;
    border: none;
    border-radius: 10px;

}

.cart{
    width: 300px;
    height: 50px;

}

.product-title{
    color: #569C88;
    font-size: 36px;
    font-family: 'Holtwood One SC', serif;
}

.product-description{
    width: 280px;
    font-size: 24px;
    position: relative;
 


}

.banner{
    width: 100vw;
    background-color:  #569C88;
    height: 200px;
    position: absolute;
    top: 320px;
    z-index: -100;



}




@media only screen and (min-width: 1200px) {

    .product-page{






        width:85vw
     
    }

    .product-description{
    position: relative;
    left: 340px;
    top: -325px;
    color: #F7F2DD;

    
    }

    .controls{
        position: relative;
left: 335px;
bottom: 375px;

    }
    
    .product-title{
        position: relative;
        left: 280px;
    

    }

    



}

/* end product page */
    /* end product page */
        /* end product page */


/* colors */
    /* colors */
        /* colors */

.pink{
    color: #E86292;
}

.yellow{
    color: #F7C025;
}

.blue{
    color: #569C88; 
}

.sand{
    color: #F7F2DD;
}

.green{
    color:  #2B9041 ;
}

.clay{
    color:  #F6926C ;
}

/* colors */
    /* colors */
        /* colors */

/* 
font-family: 'Holtwood One SC', serif;
font-family: 'Markazi Text', serif;
font-family: 'Monoton', cursive; 
*/


/* start location page */
    /* start location page */
        /* start location page */


.footer{
    height: 175px;
    width: 100px;
    background: #E86292;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    color: #F7F2DD;
    position: fixed;
    bottom: 0;
    left: 0;

    border-radius:0px 10px 0px  0px;


}

.icon{
    margin: 10px 0px 10px 0px;
    color: #F7F2DD;;
}


.copy{


    margin: 10px 0px 20px 0px;
}

.nav-copy{
    position: fixed;
    bottom: 50px;
    font-size: 14px;
}

.nav-icons{
    top: 100px;
    position: relative;
}

@media screen and (max-width: 800px){
    .footer{
        display: none;
    }
}



/* start location page */
    /* start location page */
        /* start location page */



    .location-page{
        background-color: ;
        width: 100vw;
        height: 200px;

    }

.location-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Holtwood One SC', serif;
    color: #569C88;
}
.location-container {
 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.location-image {
    width: 80vw;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 350px;
    box-shadow: 0px 4px 10px rgb(45, 45, 45);
}
.location-bar {
    background-color: #569C88;
    height: 600px;
    width: 100vw;
    position: absolute;
    top: 415px;
    z-index: -100;
}
.location-text {
    text-align: center;
    margin-top: 30vh;
    color: #F7F2DD;
    font-family: 'Markazi Text', serif;
    font-size: 28px;
}
.map {
    border-radius: 10px;
    max-width: 555px;
    width: 80vw;
    margin-bottom: 200px;
    position: relative;
    top: 150px;
}

.find-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Holtwood One SC', serif;
    color: #569C88;
    position: relative;
    top: 750px;
    z-index: 100;
}

@media only screen and (min-width: 800px) {
    .location-image {
        max-width: 550px;
        position: relative;
        left: -250px;
        top: -150px;
  
    }
    .location-bar {
        height: 350px;
    }
    .location-text {
        margin: 40px 0 0 600px;
    }
    .location-name {
        margin: 200px 0 0 590px ;
    }

    .find-us{
        position: relative;
        top: 500px;
        animation: 3s color-change infinite;
    }

    @keyframe color-change{

    }
    
    .map {

        width: 1050px;
        height: 500px;
        top: -200px;
        max-width: none;
    }
}



/* start contact page */
    /* start contact page */
        /* start contact page */


        .contact-page{
            width: 100vw;
            display: flex;
            z-index: 0;
            height: 100vh;
            justify-content: center;
        
        }

.contact-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: #569C88;
    height: 750px;
    border-radius: 10px;
    position: relative;
    top: 100px;
}

form{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
}

.contact-form-text {
    text-align: center;
    position: relative;
    color: #F7F2DD;
    font-family: 'Markazi Text', serif;
    font-size: 28px;
    top: 80px; 
}
.contact-form-text-input-a {
    position: relative;
    width: 300px;
    height: 25px;
    top: 80px;
    border-radius: 10px;
    border: none;
}
.contact-form-text-input-b {
    position: relative;
    width: 300px;
    height: 25px;
    top: 80px;
    border-radius: 10px;
    border: none;
}
.contact-form-text-input-c {
    position: relative;
    width: 300px;
    max-width: 300px;
    height: 200px;
    max-height: 200px;
    margin-top: 80px;
    border-radius: 10px;
    border: 0;


}
.contact-button {
    border-radius: 3px;
    border: none;
    background-color: #F6926C ;
    color: #F7F2DD;
    width: 140px;
    height: 25px;
    margin: 10px ;
}

.contact-small-a {
    background-color: #F6926C;
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    z-index: -100;
    top: 850px;
    right: 55vw;
}

.contact-small-b {
    background-color: #F6926C;
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    z-index: 1;
    left: 55vw;

    z-index: -100;

   
}

.button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.faces{
    position: relative;
    bottom: 7px;
}

.face{
    width: 100px;
    position: absolute;

}

.face-1{
    animation: 4s infinite faces;
    opacity: 0%;
    

}

.face-2{
    animation: 4s infinite faces;
    animation-delay: 1s;
    opacity: 0%;

}

.face-3{
    animation: 4s infinite faces;
    animation-delay: 2s;
    opacity: 0%;
}

.face-4{
    animation: 4s infinite faces;
    animation-delay: 3s;
    opacity: 0%;
    width: 150px;
    position: absolute;
    top: -40px;
    left: -25px;
}

.loader{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 36px;
    color: #2B9041;
    font-weight: 100;
}

@keyframes faces{

    from{
        opacity: 100%;
    }

    25%{
        opacity: 100%;

    }

    26%{
        opacity: 0;
    }

    100%{
        opacity: 0%;
    }

}



@media only screen and (min-width: 800px) {
}



.loading-screen{
    width: 100vw;
    height: 200vh;
    background-color: #F7F2DD;
    position: absolute;
    top: 0;
    z-index: 1300;
    overflow-x: none;
    
}

.loading-screen2{
    width: 100vw;
    height: 200vh;
    background-color: #E86292;
    position: absolute;
    top: 0;
    z-index: 1200;
    
}

.loading-screen3{
    width: 100vw;
    height: 200vh;
    background-color: #569C88; 
    position: absolute;
    top: 0;
    z-index: 1100;
    
}

.loading-screen4{
    width: 100vw;
    height: 200vh;
    background-color: #F7C025;
    position: absolute;
    top: 0;
    z-index: 1000;
   
}


.loading-screen-div{
   
}


